<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staticBodies</key>
	<dict>
		<key>body1</key>
		<array>
			<string>{80,0}</string>
			<string>{80,40}</string>
			<string>{100,80}</string>
			<string>{220,200}</string>
			<string>{320,220}</string>
			<string>{380,160}</string>
			<string>{400,120}</string>
			<string>{400,100}</string>
			<string>{380,80}</string>
			<string>{360,80}</string>
			<string>{340,100}</string>
			<string>{320,140}</string>
			<string>{300,160}</string>
			<string>{260,160}</string>
			<string>{240,140}</string>
			<string>{220,100}</string>
			<string>{200,80}</string>
			<string>{180,80}</string>
			<string>{140,60}</string>
			<string>{120,20}</string>
			<string>{120,0}</string>
		</array>
		<key>body2</key>
		<array>
			<string>{160,340}</string>
			<string>{120,360}</string>
			<string>{80,400}</string>
			<string>{80,460}</string>
			<string>{120,500}</string>
			<string>{220,500}</string>
			<string>{280,480}</string>
			<string>{300,440}</string>
			<string>{300,420}</string>
			<string>{280,380}</string>
			<string>{240,340}</string>
		</array>
		<key>body3</key>
		<array>
			<string>{180,640}</string>
			<string>{180,620}</string>
			<string>{240,580}</string>
			<string>{340,580}</string>
			<string>{380,560}</string>
			<string>{400,540}</string>
			<string>{420,500}</string>
			<string>{420,440}</string>
			<string>{400,400}</string>
			<string>{360,360}</string>
			<string>{400,320}</string>
			<string>{440,240}</string>
			<string>{480,120}</string>
			<string>{500,80}</string>
			<string>{540,60}</string>
			<string>{580,60}</string>
			<string>{640,80}</string>
			<string>{660,120}</string>
			<string>{660,340}</string>
			<string>{620,380}</string>
			<string>{540,440}</string>
			<string>{480,540}</string>
			<string>{480,580}</string>
			<string>{540,620}</string>
			<string>{700,620}</string>
			<string>{740,600}</string>
			<string>{840,640}</string>
		</array>
		<key>body4</key>
		<array>
			<string>{700,0}</string>
			<string>{760,100}</string>
			<string>{760,320}</string>
			<string>{740,360}</string>
			<string>{720,380}</string>
			<string>{700,420}</string>
			<string>{700,440}</string>
			<string>{720,460}</string>
			<string>{740,460}</string>
			<string>{840,380}</string>
			<string>{840,100}</string>
			<string>{880,40}</string>
			<string>{960,40}</string>
		</array>
	</dict>
</dict>
</plist>
